[Unit]
After=mosquitto.service
Wants=mosquitto.service

[Container]
ContainerName=homescope-gateway
Image=ghcr.io/eldigh/homescope-gateway:latest
Network=homescope.network
AutoUpdate=registry
GroupAdd=keep-groups
AddDevice=/dev/homescope-receiver:/dev/homescope-receiver
Environment=MQTT_HOST=homescope-mqtt

[Service]
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
