[Unit]
After=timescaledb.service
Wants=timescaledb.service

[Container]
Image=docker.io/grafana/grafana:12.2
ContainerName=homescope-grafana
Volume=%h/.config/homescope/grafana-provisioning:/etc/grafana/provisioning:ro
Volume=%h/.config/homescope/grafana-dashboards:/etc/grafana/dashboards:ro
Network=homescope.network
AutoUpdate=registry
PublishPort=4000:3000
EnvironmentFile=%h/.config/homescope/grafana.env
Environment=GRAFANA_DB_USER=grafana
Environment=GRAFANA_ALLOW_UI_UPDATES=false
Environment=GF_AUTH_ANONYMOUS_ENABLED=true
Environment="GF_AUTH_ANONYMOUS_ORG_NAME=Main Org."
Environment=GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
Environment=GF_AUTH_ANONYMOUS_HIDE_VERSION=true

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
