[Unit]
After=timescaledb.service
Wants=timescaledb.service

[Container]
Image=grafana/grafana:12.2
ContainerName=homescope-grafana
Volume=grafana-data.volume:/var/lib/grafana
Volume=%h/.config/homescope/grafana-provisioning:/etc/grafana/provisioning/datasources:ro
Network=homescope.network
AutoUpdate=registry
PublishPort=4000:3000
EnvironmentFile=%h/.config/homescope/grafana.env

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
